<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="POS - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Login - Inventory Management System</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.png"
    />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="account-page">
    <div class="main-wrapper">
      <div class="account-content">
        <div class="login-wrapper">
          <div class="login-content">
            <form
              method="get"
              action="/signin"
              class="login-userset"
              id="myForm"
            >
              <div class="login-userset">
                <div class="login-logo logo-normal">
                  <img src="assets/img/logo.png" alt="img" />
                </div>
                <a href="/signin" class="login-logo logo-white">
                  <img src="assets/img/logo-white.png" alt="" />
                </a>
                <div class="login-userheading">
                  <h3>Sign In</h3>
                  <h4>Please login to your account</h4>
                </div>
                <div class="form-login">
                  <label>Email</label>
                  <div class="form-addons">
                    <input
                      type="text"
                      placeholder="Enter your email address"
                      id="email"
                      name="email"
                      required
                    />
                    <img src="assets/img/icons/mail.svg" alt="img" />
                  </div>
                </div>
                <div class="form-login">
                  <label>Password</label>
                  <div class="pass-group">
                    <input
                      type="password"
                      class="pass-input"
                      placeholder="Enter your password"
                      id="password"
                      name="password"
                      required
                    />
                    <span class="fas toggle-password fa-eye-slash"></span>
                  </div>
                </div>
                <div class="form-login">
                  <a id="submitBtn" class="btn btn-login">Sign In</a>
                </div>
              </div>
            </form>
          </div>
          <div class="login-img">
            <img src="assets/img/login.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/script.js"></script>
    <script>
      // Get the form element
      const form = $("#myForm");

      // Get the submit button element
      const submitBtn = $("#submitBtn");

      // Add an event listener to the button
      submitBtn.click(function (event) {
        // Prevent the default link behavior
        event.preventDefault();

        // Submit the form
        form.submit();
      });
    </script>
  </body>
</html>
